numpy
scipy
matplotlib
nflows
imageio
tqdm
setuptools
torch-geometric
torch~=1.9.0
ffmpeg-python
scikit-image
torch-scatter --install-option="-f https://data.pyg.org/whl/torch-1.9.1+cpu.html"
torch-sparse --install-option="-f https://data.pyg.org/whl/torch-1.9.1+cpu.html"
pytest